p {
    color: dark-blue;
}
.login img {
    height: 150px;
    width: 150px;
}

.login-select {
    background-color: greenYellow;
    /* these two arent working wtf*/
    border-width: 5px; 
    border-color: black;
}
