.login img {
    height: 150px;
    width: 150px;
}

.login-select {
    /* these two arent working wtf*/
    border-width: 5px; 
    border-color: black;
}
.login-select:hover {
    background-color: greenYellow;
}
